# Naive Model

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('daily-min-temperatures.csv',header=0,parse_dates=[0])

In [8]:
df

           Date  Temp
0    1981-01-01  20.7
1    1981-01-02  17.9
2    1981-01-03  18.8
3    1981-01-04  14.6
4    1981-01-05  15.8
...         ...   ...
3645 1990-12-27  14.0
3646 1990-12-28  13.6
3647 1990-12-29  13.5
3648 1990-12-30  15.7
3649 1990-12-31  13.0

[3650 rows x 2 columns]

In [9]:
df['lag1']=df['Temp'].shift(1)

In [10]:
df.head()

        Date  Temp  lag1
0 1981-01-01  20.7   NaN
1 1981-01-02  17.9  20.7
2 1981-01-03  18.8  17.9
3 1981-01-04  14.6  18.8
4 1981-01-05  15.8  14.6

# Split into train and test

# Let's take all the values except last 7 values as train ( starting from 1) and last 7 values as test

In [11]:
train,test=df[1:df.shape[0]-7],df[df.shape[0]-7:]

In [12]:
train.head()

        Date  Temp  lag1
1 1981-01-02  17.9  20.7
2 1981-01-03  18.8  17.9
3 1981-01-04  14.6  18.8
4 1981-01-05  15.8  14.6
5 1981-01-06  15.8  15.8

In [13]:
x_train,y_train=train['lag1'],train['Temp']
x_test,y_test=test['lag1'],test['Temp']

# Walk forward validation